@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Pontano Sans', sans-serif;
    font-size: 14px;
    color: #9b9e9a;
}

.header{
	background: #EE3233;
	padding: 85px 0px 40px;
	overflow: hidden;
}
.header .head-content{
	width: 1000px;
	margin: 0 auto;
}
.header .logo{
    cursor: pointer;
    margin: 0 auto;
}
.header .logo h1{
	font-size: 45px;
    font-family: 'Lobster Two', cursive;
    font-weight: normal;
}
.header div li.active{
}
.header div.menu li a{
	padding: 10px;
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: normal;
}
.page{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.page div.banner{
	background-color: #eeeef0;
    overflow: hidden;
    margin-bottom: 60px;
    clear: both;
}
.page div.content div.primary{
    width: 630px;
    padding-right: 40px;
    border-right: #f2f2f2 solid 1px;
    float: left;
}
.page div.content div.sideBar{
    width: 290px;
    float: right;
}
.page a.button{
	text-decoration: none;
    display: block;
    width: 107px;
    height: 35px;
    background: #ee3233;
    color: #ffffff;
    font-family: 'Pontano Sans', sans-serif;
    line-height: 35px;
    text-align: center;
    font-size: 15px;
}
.page a.button:hover{
    background: #66a7c5;
}
div.topArticle{
	padding-bottom: 60px;
    border-bottom: #f2f2f2 solid 1px;
}
div.smallDatas{
	padding-top: 40px;
    margin-bottom: 50px;
    border-bottom: #f2f2f2 solid 1px;
    overflow: hidden;
}
div.smallDatas div.smallArticle{
	/*display: inline-block;*/
}
div.smallDatas .infoPane{
    width: 300px;
    /*margin-bottom: 50px;*/
}
div.smallDatas .infoPane .detail p{
    line-height: 18px;
    /*font-size: 12px;*/
}
div.smallDatas .infoPane .detail h2{
	line-height: 20px;
	padding-bottom: 10px;
}

.title{
	font-size: 25px;
    color: #243036;
    font-family: 'Lobster Two', cursive;
    font-weight: normal;
    padding-bottom: 30px;
}
.linktitle{
	font-size: 16px;
	line-height: 20px;
    color: #66a7c5;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: normal;
}

.page .sidebar{
	width: 290px;
	float: right;
}
.sidebar .search-bar,
.sidebar .submenu-bar,
.sidebar .Testimonials-bar,
.sidebar .QuickContact-bar
{
	padding-bottom: 30px;
    overflow: hidden;
    border-bottom: #f2f2f2 solid 1px;
    margin-bottom: 40px;
}
.sidebar .search-bar ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
}
.sidebar .search-bar ul li input{
	width: 230px;
    height: 35px;
    background: #f0eceb;
    line-height: 35px;
    text-indent: 5px;
    border: none;
}
.submenu-bar ul li{
	list-style: url(images/arrow2.png) inside;
    border-bottom: #f2f2f2 solid 1px;
    line-height: 40px;
}
.submenu-bar ul li.-noborder-bottom,
.footer .content ul li.-noborder-bottom{
    border-bottom: none;
}
.footer ul li{
	list-style: none;
    line-height: 40px;
}
.footer ul.border li {
    
    border-bottom: #f34041 solid 1px;
}
.footer ul.newsletter li{
	display: inline-block;
}
.footer ul.newsletter li input{
	width: 195px;
    height: 35px;
    background: #f0eceb;
    line-height: 35px;
    text-indent: 5px;
    border: none;
}
.footer a.button{
	text-decoration: none;
    display: block;
    width: 80px;
    height: 35px;
    background-color: rgb(37,48,54);
    color: red;
    font-family: 'Pontano Sans', sans-serif;
    line-height: 35px;
    text-align: center;
    font-size: 15px;
}
.footer ul.followus li{
	display: inline-block;
	margin-right: 10px;
    padding-right: 30px;
}
.footer a {
    color: white;
}
.footer a:hover {
    color: #243036;
}
.submenu-bar ul li a{
	text-decoration: none;
	color: #939d9f;
	/*font-size: 12px;*/
}
.submenu-bar ul li a.active {
    color: #ee3233;
}
.submenu-bar ul li a:hover {
    color: #ee3233;
}
.Testimonials-bar p span{
    color: #66a7c5;
    text-decoration: underline;
}
.Testimonials-bar p a:hover {
    color: #66a7c5;
}

.Testimonials-bar p a{
    text-decoration: underline;
    color: #ee3233;
}
.QuickContact-bar p{
	/*font-size: 12px;*/
}

.footer{
	background: #EE3233;
	padding: 40px;
	overflow: hidden;
}
.footer-pane{
	width: 1000px;
	margin: 0 auto;
}
.footer .content{
	width: 300px;
	display: inline-block;
	color: #ffffff;
	font-size: 12px;
	float: left;
}
.copyright{
    background: #243036;
    padding-top: 40px;
    padding-bottom: 40px;
}
.copyright .pane{
	width: 1000px;
	margin: 0 auto;
	color: #66a7c5;
}
.float-clean{
	clear: both;
}
.margin-right-40{
	margin-right: 20px;
}
.margin-right-30{
	margin-right: 30px;
}
.margin-right-20{
	margin-right: 20px;
}
.margin-right-10{
	margin-right: 10px;
}
.padding-bottom-30{
	padding-bottom: 30px;
}
.padding-bottom-10{
	padding-bottom: 10px;
}